.recent_projfects {
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 21.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1600px;
  flex-shrink: 0;
}
.recent_projfects .recent_projfects_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent_projfects .recent_projfects_content .recent_projfects_title {
  width: 497px;
  height: 57px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
  /* 56.25px */
}
.recent_projfects .recent_projfects_content .recent_projfects_subtitle {
  width: 497px;
  height: 57px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  /* 26.25px */
}
.recent_projfects .recent_projfects_images .recent_projfects_images_first_line {
  display: flex;
  gap: 30px;
}
.recent_projfects .recent_projfects_images .recent_projfects_images_first_line :nth-child(1) {
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 15.png);
}
.recent_projfects .recent_projfects_images .recent_projfects_images_first_line :nth-child(2) {
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 16.png);
}
.recent_projfects .recent_projfects_images .recent_projfects_images_first_line :not(:last-child) {
  width: 382px;
  height: 223px;
  flex-shrink: 0;
}
.recent_projfects .recent_projfects_images .recent_projfects_images_first_line :nth-child(3) {
  width: 352px;
  height: 223px;
  flex-shrink: 0;
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 17.png);
}
.recent_projfects .recent_projfects_images .recent_projfects_images_second_line {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.recent_projfects .recent_projfects_images .recent_projfects_images_second_line :first-child {
  width: 246px;
  height: 223px;
  flex-shrink: 0;
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 19.png);
}
.recent_projfects .recent_projfects_images .recent_projfects_images_second_line :nth-child(2) {
  width: 401px;
  height: 223px;
  flex-shrink: 0;
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 18.png);
}
.recent_projfects .recent_projfects_images .recent_projfects_images_second_line :nth-child(3) {
  width: 469px;
  height: 223px;
  flex-shrink: 0;
  background-image: url(../Assets/images/Recentprofjects/Rectangle\ 20.png);
}
.recent_projfects .recent_projfects_images .kartochka {
  width: 382px;
  height: 223px;
  flex-shrink: 0;
}
.recent_projfects a {
  color: #FFF;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
  /* 37.5px */
  list-style: none;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  margin-top: 80px;
}
.recent_projfects .register_mail {
  margin: 100px 135px 0 135px;
}
.recent_projfects .register_mail .register_mail_title {
  display: start;
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%;
  width: 209px;
  height: 40px;
  flex-shrink: 0;
}
.recent_projfects .register_mail :nth-child(2) {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  width: 545px;
  height: 57px;
  flex-shrink: 0;
}
.recent_projfects .register_mail .retister_mail_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  height: 189px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #1C140F;
  color: #FFF;
  font-family: Poppins;
  padding: 40px 50px ;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_text {
  width: 50%;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_text .retister_mail_container_text_titile {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_text .retister_mail_container_text_subtitile {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_input {
  position: relative;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_input input {
  padding: 14px 0 14px 22px;
  text-align: start;
  width: 385.679px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_input input ::placeholder {
  color: red;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.recent_projfects .register_mail .retister_mail_container .retister_mail_container_input button {
  position: absolute;
  right: 10px;
  top: 5px;
  max-width: 104.996px;
  width: 100%;
  height: 37px;
  border-radius: 8px;
  background: #DC7000;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
