.game_platforms {
  color: #FFF;
  font-family: Poppins;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url(../Assets/images/Game_device_platform/Rectangle\ 5\ background.png);
  backdrop-filter: blur(2px);
  width: 1440px;
  height: 881px;
  flex-shrink: 0;
}
.game_platforms .game_platforms_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game_platforms .game_platforms_content .game_platform_title {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
  width: 826px;
  /* 56.25px */
}
.game_platforms .game_platforms_content .game_platform_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  text-align: center;
  width: 820px;
  height: 60px;
  flex-shrink: 0;
  margin: 0;
  /* 30px */
}
.game_platforms .game_platforms_content .game_devices_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.game_platforms .game_platforms_content .game_devices_container .game_devices_container_first_line {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.game_platforms .game_platforms_content .game_devices_container .game_devices_container_first_line .game_devices_container_first_line_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game_platforms .game_platforms_content .game_devices_container .game_devices_container_first_line .game_devices_container_first_line_card .game_devices_container_first_line_card_icon {
  flex-shrink: 0;
  width: max-content;
}
.game_platforms .game_platforms_content .game_devices_container .game_devices_container_first_line .game_devices_container_first_line_card p {
  text-align: center;
  width: 220px;
  padding: 30px 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
  /* 30px */
}
.game_platforms .game_platforms_content .game_devices_container .game_devices_container_second_line {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
